<% layout("/layouts/boilerplate") %>
<body>
    <div class="row mt-3">
        <div class="col-6 offset-2">
            <h3><b><%= listing.title %></b></h3>
        </div>
    </div> <!-- Closing the div tag properly -->
    <div class="card col-6 offset-2 show-card">
        <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_image">
        <!-- Log to check if the image object exists and has a URL -->
        <div class="card-body">
            <p class="card-text  room"><b>Room in <%= listing.location %>,<%= listing.country %></b><br></p>
            <div class="owner">
                <p class="card-text  "><b>Hosted by <%= listing.Owner.username %> </b></p>
                2 Years of hosting
            </div>
            <hr>
            <br>
            <div class="facilities1">
                <div class="facility">
                    <p><i class="fa-solid fa-bed"></i> <b style="margin-left:8px ;"  >Room in a <%= listing.type %> stay</b><br>
                       <h9 style="margin-left:28px ; font-size: smaller; "> Your own room in a home, plus access to shared spaces.</h9></p>
                </div>
                <div class="facility">
                    <p><i class="fa-solid fa-key"></i> <b style="margin-left:10px ;">Great check-in experience</b><br>
                        <h9 style="margin-left:28px ; font-size: smaller; "> Recent guests loved the smooth start to this stay.</h9>
                        </p>
                </div>
                <div class="facility">
                    <p><i class="fa-solid fa-calendar"></i> <b style="margin-left:10px ;">Free cancellation before 8 Mar</b><br>
                        <h9 style="margin-left:28px ; font-size: smaller; "> Get a full refund if you change your mind.</h9>
                        </p>
                </div>
            </div>
            <hr>
            <p style="margin-top: 10px;"><b>About the place</b></p>
            <p class="card-text"><%= listing.description %></p>
            <h4>What this place offer </h4>
            <div class="facilities">
                <ul class="facilities1">
                    <li class="facility">
                        <p><i class="fa-solid fa-building-lock"></i> 
                           <h9 style="margin-left:8px ; font-size: smaller; ">Lock on bedroom door .</h9></p>
                    </li>
                    <li class="facility">
                        <p><i class="fa-solid fa-utensils"></i> 
                           <h9 style="margin-left:8px ; font-size: smaller; ">Kitchen.</h9></p>
                    </li>
                    <li class="facility">
                        <p><i class="fa-solid fa-bed"></i> 
                           <h9 style="margin-left:8px ; font-size: smaller; "> Wifi</h9></p>
                    </li>
                    <li class="facility">
                        <p><i class="fa-solid fa-couch"></i> 
                           <h9 style="margin-left:8px ; font-size: smaller; ">Dedicated workspace </h9></p>
                    </li>
                    <li class="facility">
                        <p><i class="fa-solid fa-car"></i> 
                           <h9 style="margin-left:8px ; font-size: smaller; ">Free parking on premises</h9></p>
                    </li>
                </ul>
                <ul class="facilities2">
                    <li class="facility">
                        <p><i class="fa-solid fa-paw"></i> 
                           <h9 style="margin-left:8px ; font-size: smaller; ">Pets allowed</h9></p>
                    </li>
                    <li class="facility">
                        <p><i class="fa-solid fa-bath"></i> 
                           <h9 style="margin-left:8px ; font-size: smaller; ">Bath</h9></p>
                    </li>
                    <li class="facility">
                        <p><i class="fa-solid fa-torii-gate"></i>
                           <h9 style="margin-left:8px ; font-size: smaller; "> Private patio or balcony</h9></p>
                    </li>
                    <li class="facility">
                        <p><i class="fa-solid fa-ban-smoking"></i>
                           <h9 style="margin-left:8px ; font-size: smaller;  text-decoration: line-through; ">Carbon monoxide alarm </h9></p>
                    </li>
                    <li class="facility">
                        <p><i class="fa-solid fa-bell"></i>
                           <h9 style="margin-left:8px ; font-size: smaller; text-decoration: line-through; ">Smoke alarm</h9></p>
                    </li>

                </ul>
                </div>
                <p class="card-text " style="font-size: x-large;"><b> price:</b>&#8377;<%= listing.price.toLocaleString("en-IN") %></p>

    </div>
   
   <% if(currUser && currUser._id.equals(listing.Owner._id)) { %>
    <div class="btns ">
        <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark offset-2 add-btn  button">Edit </a>
        <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
            <button class="btn btn-dark offset-4 button ">Delete </button>   
        </form>  
    </div>

   <% } %>
    
    <div class="col-8 offset-0 review">
        <hr/>
        <% if (currUser) { %>
        <h4>Leave a Review</h4>
        <form action="/listings/<%= listing._id %>/reviews" method="POST" novalidate class="needs-validation">
            <!-- <div class="mb-3 mt-3">
                
                <input type="range" min="1" max="5" name="review[rating]" id="rating" class="form-range">
           </div> -->
            <div class="mb-3 mt-3">
                <label for="rating" class="form-label"><b>Rating</b></label>

            <fieldset class="starability-slot">
        
                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
                <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
        </div>
            <div class="mb-3 mt-3">
                <label for="comment" class="form-label">Comments</label>
                <textarea name="review[comment]" cols="30" rows="5" class="form-control" required></textarea>
                <div class="invalid-feedback">
                    Please add some comments for reviews
                </div>
            </div>
            <button class="btn btn-outline-dark">Submit</button>
        </form>
        <% } %>
        <hr/>
        <p><b>All Reviews</b></p>
        <div class="row review">
            <% for(let review of listing.reviews) { %>
                <div class="card mb-3 ms-3 col-5 border border-dark">
                    <div class="card-body">
                        <h5 class="card-title"><%= review.author.username %></h5>
                        <p class="starability-result card-text" data-rating="<%= review.rating %>">
                            Rated: <%= review.rating %> 
                        </p>
                        <p class="card-text mb-2"><b><i><%= review.comment %></i></b></p>
                       
                    </div>
                    <div class="flex ">
                        <% if (currUser) { %>
                        <form method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                            <button class="btn btn-dark btn-sm mb-2 ms-2">Delete</button>
                        </form>
                        <a href="/listings/<%= listing._id %>/reviews/<%= review._id %>/edit" class="btn add-btn  mb-3">Edit </a>
                        <% } %>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
    <br>
    <div class="map offset-0 show-card rounded-2 mb-2"> 
        <iframe width="650" height="375" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"  
        id="gmap_canvas" 
        src="https://maps.google.com/maps?width=650&amp;height=375&amp;hl=en&amp;q=%20<%=listing.location%>%20+()&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
    </iframe> 
    
    <a href='https://www.krankenversicherungsvergleich.at/'>Krankenversicherung Rechner</a> 
    
    <script type='text/javascript' 
        src='https://embedmaps.com/google-maps-authorization/script.js?id=d7d6a0fca45aed6785eaca1b939606a499e08d2a'>
        
    </script>
    
    
    </div>
</body>
